<div class="div_content">
  <p>
  I decided to publish my monthly budget on my website. The main reason is that I wanted to learn to create an app that does that in Sinatra.
  The other reason is that it would be easier this way to share it with my boyfriend who is miles away from me and with my family.

  Below is this month's budget summary:
  </p>
</div>
