<div class="div_content">
  <p>
  My name is Carine Vunabandi and I am a Software Developper. I am Congolese, from the Dem. Rep. of Congo.
  I studied Computer Science in University. I have 6 siblings, and I am the eldest.
  My favourite color is lime. If I had to pick two, it'll be Lime and Red.
  </p>
</div>
